* {
  box-sizing: border-box;
}

body {
  background-color: #303030;
  color:#f0f0f0;
  margin:0;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(100px,1fr));
  grid-template-rows: auto auto auto;
  grid-auto-flow: row dense;
  gap:0.5rem;
}

body> div {
  background-color:black;
  padding-top:calc(100%);
  background-image: url('/src/image/tutur.JPG');
  background-position: 50% 50%;
  background-size: cover;
}
body> div.hz {
  grid-column-end: span 3;
  padding-top:calc(100% / 3 * 2);
  background-image: url('/src/image/NZ.JPG');
  grid-row-end: span 2;
}
body> div.vt {
  grid-column-end: span 2;
  grid-row-end: span 3;
  background-image: url('/src/image/astro.JPG');
  padding-top:calc(100% / 2 * 3);
}