* {
  box-sizing: border-box;
}

body {
  background-color: #303030;
  color:#f0f0f0;
  margin:0;
  min-height:100vh;
  display:grid;
  grid-template:
  "navigation" auto
  "header" auto
  "main" auto
  "section" auto
  "section2" auto
  "..." 1fr
  "footer" auto
  / 1fr;
  gap: 0.5rem;
}
@media screen AND (min-width:768px){
  body{
    grid-template:
    "navigation navigation navigation navigation" 100px
    ".          header     header     ...." 2fr
    "...        main       main       ....." 1fr
    ".......... section    section2   ....." 1fr
    ".......... .......... ........    ....." 1fr
    "footer      footer    footer      footer" 100px
    /1fr         350px     350px      1fr;
    gap: 1rem 0.5rem;
  }
  body::before{
    content:"";
    background-color:yellow;
    grid-row-start:3;
    grid-row-end:5;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

body > * {
  color:black;
}

body > header {
  background-color: yellow;
  grid-area:header
}
@media screen AND (min-width:768px){
  body > header {
    background-color: blue;
  }
}
body > nav {
  grid-area:navigation;
  background-color:green;
}
body > main {
  grid-area:main;
  background-color: red;
}
body > section:first-of-type{
  grid-area:section;
  background-color: aqua;
}
body > section:nth-of-type(2){
  grid-area:section2;
  background-color: brown;
}

body > footer {
  grid-area:footer;
  background-color: chocolate;
}