* {
  box-sizing: border-box;
}

body {
  background-color: #303030;
  color:#f0f0f0;
  margin:0;
  min-height:100vh;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4,1fr);
  grid-template-areas:
  "header header navigation"
  "main   main   section"
  "main   main   section"
  "section2 section2 footer";
  grid-gap: 1rem 0.5rem;
}

body > * {
  color:black;
}

body > header {
  background-color: yellow;
  grid-area:header
}
body > nav {
  grid-area:navigation;
  background-color:green;
}
body > main {
  grid-area:main;
  background-color: red;
}
body > section:first-of-type{
  grid-area:section;
  background-color: aqua;
}
body > section:nth-of-type(2){
  grid-area:section2;
  background-color: brown;
}

body > footer {
  grid-area:footer;
  background-color: chocolate;
}