* {
  box-sizing: border-box;
}

body {
  background-color: #303030;
  color:#f0f0f0;
  margin:0;
  min-height:100vh;
  display:grid;
  grid-template:
  "navigation" auto
  "header" auto
  "main" auto
  "section" auto
  "section2" auto
  "..." 1fr
  "footer" auto
  / 1fr;
  gap: 0.5rem;
}
@media screen AND (min-width:768px){
  body{
    grid-template:
    "topleft    navigation navigation topright" 100px
    "topleft    header     header     topright" 1fr
    ".          header     header     ...." 1fr
    "...        main       main       ....." 1fr
    ".......... section    section2   ....." 1fr
    ".......... .......... ........    ....." 1fr
    "footer      footer    footer      footer" 100px
    /1fr         350px     350px      1fr;
    gap: 1rem 0.5rem;
  }
  body::before{
    content:"";
    background-color:#202020;
    grid-area: topleft-start / topleft-start / topright-end / topright-end;
  }
  body::after {
    content: "";
    background-color: rgba(0,0,0,0.9);
    grid-area: 1 / 1 / -1 / -1;
  }
  body > modal {
    background-color: #303030;
    padding:2rem;
    width:600px;
    border:1px solid #c0c0c0;
    color:white;
    grid-area: 1 / 1 / -1 / -1;
    z-index: 2;
    display:grid;
    grid-template-columns: 300px 1fr min-content;
    place-self: center center;
  }
  body > modal > h1 {
    grid-column: 1 / -1;
  }
  
  body > modal > input {
    grid-column: 1 / -1;
    padding:1rem;
  }
  body > modal > button {
    padding:1rem;
    grid-column: span 1 / -1;
  }
}

body > * {
  color:black;
}

body > header {
  background-color: yellow;
  grid-area:header;
}
@media screen AND (min-width:768px){
  body > header {
    background-color: blue;
  }
}
body > nav {
  grid-area:navigation;
  background-color:green;
}
body > main {
  grid-area:main;
  background-color: red;
}
body > section:first-of-type{
  grid-area:section;
  background-color: aqua;
}
body > section:nth-of-type(2){
  grid-area:section2;
  background-color: brown;
}

body > footer {
  grid-area:footer;
  background-color: chocolate;
}